@import url(./_medium/card__notification_medium.css);

.card__notification {
  display: none;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  cursor: auto;
}

@media screen and (max-width: 990px) {
  .card__notification {
    margin: 5px 0 0;
  }
}