@import url(./_white/logo_white.css);
@import url(./_dark/logo_dark.css);

.logo {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .logo {
    position: relative;
    z-index: 2;
  }
}
