.logo {
  max-width: 150px;
  height: 25px;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 700px) {
  .logo {
    position: relative;
    z-index: 2;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    max-width: 117px;
  }
}
