.author__text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding-top: 50px;
}

@media screen and (max-width: 800px) {
  .author__text-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .author__text-container {
    padding-top: 24px;
  }
}