@import url(./__cards/root__cards.css);
@import url(./__results/root__results.css);
@import url(./__author/root__author.css);
@import url(./__footer/root__footer.css);
@import url(./__section/root__section.css);
@import url(./__articles/root__articles.css);

.root {
  max-width: 1440px;
  min-height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
  background-color: #fff;
  color: #1a1b22;
}