.search__content {
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px;
  margin: auto;
  width: 40%;
}

@media screen and (max-width: 1024px) {
  .search__content {
    width: 60%;
    padding: 38px 0 48px;
  }
}

@media screen and (max-width: 500px) {
  .search__content{
    width: 90%;
    padding: 38px 0 32px;
  }
}