.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 8px 0 10px;
  caret-color: #2f71e5;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.popup__input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, .2);
}

.popup__input::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, .2);
}

.popup__input::-moz-placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, .2);
}

.popup__input::-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, .2);
}