.card__tag {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 0;
  cursor: auto;
  position: absolute;
  top: 24px;
  left: 24px;
}

@media screen and (max-width: 990px) {
  .card__tag {
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 500px) {
  .card__tag {
    top: 16px;
    left: 16px;
  }
}
