@import url(./_logout_dark/icon_logout_dark.css);
@import url(./_logout_white/icon_logout_white.css);
@import url(./_disabled/icon_disabled.css);

.icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
}