.author__paragraph {
  margin: 0 0 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.author__paragraph:last-child {
  margin-bottom: 0;
}
