.card__text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .card__text {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 800px) {
  .card__text {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 768px) {
  .card__text {
    -webkit-line-clamp: 4;
  }
}

@media screen and (max-width: 760px) {
  .card__text {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 600px) {
  .card__text {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 550px) {
  .card__text {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 420px) {
  .card__text {
    -webkit-line-clamp: 4;
  }
}