.card__save-icon {
  background-image: url(../../../../images/save-icon.jpg);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.card__save-icon:hover {
  background-image: url(../../../../images/save-icon-hover.jpg);
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .card__save-icon {
    align-self: flex-end;
  }
}