.search__title {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin: 0 0 32px;
}

@media screen and (max-width: 768px) {
  .search__title {
    width: 80%;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}