@import url(./_active/menu__link_active.css);

.menu__link {
  text-decoration: none;
  color: #b6bcbf;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .menu__link {
    font-size: 16px;
  }
}