.menu .menu__link_active {
  color: #fff;
  padding-bottom: 26px;
  border-bottom: 4px solid #fff;
}

@media screen and (max-width: 800px) {
  .menu .menu__link_active {
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 700px) {
  .menu .menu__link_active {
    border: 0;
  }
}