.menu .menu__link_active-dark {
  padding-bottom: 26px;
  border-bottom: 4px solid #1a1b22;
}

@media screen and (max-width: 800px) {
  .menu .menu__link_active-dark{
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 700px) {
  .menu .menu__link_active-dark{
    border: 0;
  }
}