.card__source {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: auto 0 0;
  padding: 0 24px 24px;
}

@media screen and (max-width: 1024px) {
  .card__source {
    padding: 0 16px 16px;
  }
}