@import url(./__button/search__button.css);
@import url(./__content/search__content.css);
@import url(./__form/search__form.css);
@import url(./__input/search__input.css);
@import url(./__text/search__text.css);
@import url(./__title/search__title.css);

.search {
  background-image: url('../../../images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .search {
    background-image: url('../../../images/bg_tablet.jpg');
  }
}

@media screen and (max-width: 425px) {
  .search {
    background-image: url('../../../images/bg_mobile.jpg');
  }
}